<hr style="border-top: 1px solid black; border-bottom: 1px solid grey">
<div class="commentsSpace">	
    <input type="hidden" id="commentid" name="commentid" value="{{commentid}}">
    <img src="{{def_url userImg}}" alt="{{username}} Avatar">
    <div class="commentsInfo">
        <div class="userInfo">
            <p class="username">{{username}}</p>
            <p class="lvl">LV. {{userlvl}}</p>
        </div>
        <div class="commentTxt">
            <p>{{comment}}</p>
        </div>
    </div>
    
    <div class="like" id="commentLike">
        <button class="upvoteBtnC"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-square" viewBox="0 0 16 16">
<path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.5 9.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
</svg> Upvote</button>
        <p class="upvoteC">{{upvote}}</p>
        <input type="hidden" id="upvotersC" name="upvotersC" value="{{upvoters}}">

        <button class="downvoteBtnC"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-square" viewBox="0 0 16 16">
<path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.5 2.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
</svg> Downvote</button>
        <p class="downvoteC">{{downvote}}</p>
        <input type="hidden" id="downvotersC" name="downvotersC" value="{{downvoters}}">
    </div>
</div>